<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.catalyst.ata_test">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".AppController"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/NoActionBarAppTheme"
        android:icon="@drawable/ata">

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarAppTheme"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activities.DashboardActivity"
            android:label=""
            android:parentActivityName=".activities.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.catalyst.ata_test.activities.LoginActivity" />
        </activity>

        <activity android:name=".activities.ProfileActivity"
                  android:parentActivityName=".activities.LoginActivity">
                  <meta-data
                      android:name="android.support.PARENT_ACTIVITY"
                      android:value="com.example.catalyst.ata_test.activities.LoginActivity" />

        </activity>

        <activity android:name=".activities.TeamActivity"
                  android:parentActivityName=".activities.LoginActivity">
                    <meta-data
                        android:name="android.support.PARENT_ACTIVITY"
                     android:value="com.example.catalyst.ata_test.activities.LoginActivity" />

         </activity>

        <activity android:name=".activities.FeedActivity"
                  android:parentActivityName=".activities.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.catalyst.ata_test.activities.LoginActivity" />

        </activity>

        <activity
            android:name=".activities.SearchActivity"
            android:label=""
            android:parentActivityName=".activities.DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.catalyst.ata_test.activities.DashboardActivity" />
        </activity>


        <service
            android:name=".services.ATAFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".services.ATAFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>


    </application>

</manifest>
